{{- $env := env "ENVIRONMENT" -}}
{{- $service_name := env "SERVICE_NAME" -}}
{{- $domain_name := env "DOMAIN_NAME" -}}
{{- $image_tag := env "CI_COMMIT_SHA" -}}

container:
  name: bip39
  pullPolicy: Always
  repository: registry.mattr.network/matter-labs/bip39
  tag: {{ print $image_tag }}
  port: 80
  port_name: http
  healthcheck:
    enabled: false
    probe: {}

service:
  enabled: true
  external_dns: {{ print $domain_name }}
  ingress_port: 80
  certificate:
    enabled: true
    on_ingress: true
    issuer: gitlab-issuer
